/* ============================================= */
/*              Colors                           */
/* ============================================= */

// Primaries

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;

// Repeatead

$color-white: #fff;
$color-error: #e4757a;
$color-warning: #fd7856;



/* ============================================= */
/*              Fonts                            */
/* ============================================= */

$font-primary: 'Lato', sans-serif;
$font-weight: ('regular': 300, 'bold': 700);


/* ============================================= */
/*              Media Query                      */
/* ============================================= */

$breakpoint: 768px;
